/*  About css start */



.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
     margin-top: 70px;
    


}

.about img {
    height: 30rem;
    width: 35rem;
    object-fit: cover;
    border-radius: 20px;

}

.about-text {
    width: 30rem;
   text-align: center;
   
}
.about-text h2 {

    color:tomato;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.about-text h5 {
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 25px;


}

.about-text p {

    color: gray;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}

.btn3 button {
    height: 2.5rem;
    width: 10rem;
    background-image: linear-gradient(to right,rgb(29, 11, 11),rgb(255, 0, 208));
    border:none;
    color:#fff;
    margin-top: 20px;

    

}

 .btn3 button:hover {
    
    color: #000000;
}



















